<app-title class="topic" title="Chat with me!" margin="1.5rem 0 0 2.5rem" fontSize="36px"></app-title>

<div class="App">
  <div class="box">
    <div class="messages">
      <div *ngFor="let msg of messageList">{{msg.name}} : {{msg.message}}</div>
    </div>
    <form
      [formGroup]="messageForm"
      class="input-div"
      (submit)="submitMessage()">
      <input class="text" type="text" placeholder="Message" formControlName="message" />
      <button role="button" type="submit">Send</button>
    </form>
  </div>
</div>
