<app-not-found
[visible]="!service"
notFoundMessage="Couldn't find the Service!"
resetLinkText="Go back to Homepage">
</app-not-found>
<div *ngIf="service" class="container">
  <img [src]="service.imageUrl" [alt]="service.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{service.name}}
      </span>
      <span class="favorite {{service.favorite? '':'not'}}"> ❤ </span>
    </div>
    <div class="rating">
      <star-rating
      [value]="service.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true">
    </star-rating>
    </div>
<!--
    <div class="origins">
      <span *ngFor = "let origin of service.origins">
        {{origin}}
      </span>
    </div> -->

    <div class="tags">
      <a *ngFor = "let tag of service.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="time">
      <span>
        Total time to finish about <strong>{{service.time}} </strong> days
      </span>
    </div>

    <div class="price">
      <span>
        {{service.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()"> Add to Cart </button>
  </div>
</div>
