<!DOCTYPE html>
<html>

<head>
  <title>Agent chat</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const cRoom = "<%= cid %>";
    const sUrl = "http://localhost:5000/chat";
    const socket = io(sUrl);
    socket.on("connect", () => {
      socket.emit('myroom', {
        data: cRoom
      });
    });
    socket.on('msg5678', (data) => {
      document.querySelector('#firstText').innerHTML += `<li>Customer: ${data}</li>`;
    });

    function send() {
      const msgC = document.querySelector('#text1').value;
      document.querySelector('#firstText').innerHTML += `<li>You: ${msgC}</li>`;
      socket.emit('msg1234', msgC);
    };
  </script>
</head>

<body>
  <main>
    <div id="display"><br>
      <ul id="firstText"></ul>
    </div>
    <div id="type-box">
      <input type="text" placeholder="Message" id="text1">
      <a><button id="send" onclick="send()"><svg viewBox="0 0 512 512" width="20" title="location-arrow">
            <path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z" />
          </svg></button></a>
    </div>
  </main>
</body>

</html>
